<div class="customerContainer">
  <app-loader *ngIf="isLoading"></app-loader>
  <ul *ngIf="!isLoading && customerList.length > 0" class="customerList">
    <div class="addButtonContainer">
      <button class="addButton btn btn-primary" (click)="onAdd()">
        Add New
      </button>
    </div>
    <div class="searchContainer">
      <input type="text" class="searchInput" [(ngModel)]="searchText" />
      <button class="searchBtn btn btn-primary" (click)="onSearch()">
        Search by Name
      </button>
      <button class="resetBtn btn btn-warning" (click)="onSearch('reset')">
        Reset
      </button>
    </div>

    <app-input-output
      (childAlertEvent)="childAlert($event)"
      [value]="someValue"
    ></app-input-output>
    <div
      *ngFor="let customer of customerList"
      class="customerListItemContainer"
    >
      <li class="customerListItem">
        <p class="name">{{ customer.fullname }}</p>
        <p class="email">{{ customer.email }}</p>
        <p class="number">{{ customer.phone_number }}</p>
        <a class="editLink" (click)="onEdit(customer.id)">Edit</a>
      </li>
    </div>
  </ul>
</div>
